<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Ignite specific loggers -->
        <Logger name="org.apache.ignite" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Application loggers -->
        <Logger name="com.apache.ignite.examples" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>